<li>
    {{burger_name}}

        <button class="btn btn-success change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
            {{#if devoured}}Devour This Burger!{{else}}Regurgitate{{/if}}
        </button>
        <button class="btn btn-danger delete-burger" id="delete-burger" data-id="{{id}}">
            DELETE
        </button>

</li>